/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --nav-width: 324px;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Colors =====*/
  --first-color: #602f3d;
  --first-color-dark: #c58544;
  --first-color-darker: #83746f;
  --text-color: #432329;
  --first-color-light: #e7c8a0;
  --first-color-lighter: #fefae0;

  /*===== Font and typography =====*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*===== Margins =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /*===== z index =====*/
  --z-fixed: 100;
}
/* Media QUERIES */
@media screen and(min-width: 768px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --small-font-size: 0.813rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighter);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section {
  padding: 4rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(--first-font-size);
  color: var(--first-color-darker);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighter);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  position: fixed;
  top: 0;
  left: -100%; /* menu slide <---> */
  width: 30%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: 0.5s;

  border: 3px dashed brown;
  display: flex;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-dark);
  cursor: pointer;

  border: 2px solid teal;
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-lighter);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--text-color);
}

.nav__toggle {
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}

/*=== Show menu ===*/

/*Active menu*/

/*===== HOME =====*/

/* height: fit-content; likely setting or find alternative */
.home__container {
  /* height: calc(100vh - var(--header-height)); suggested - leaves large gap*/

  height: fit-content;
  align-items: center;
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

/* padding-top: 1.3rem;
padding-left: 0.8rem;
width: 160px;
height: 160px; */
.home__img {
  padding-top: 0rem;
  padding-left: 0rem;
  width: 200px;
  height: 200px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
}

/* 155px */
.home__img img {
  width: ;
}

.home__title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.home__profession {
  font-size: var(--small-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-5);
}

.home__social {
  margin-bottom: 5rem;
}

/* border-radius consider: none; */
.home__social-link {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighter);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.home__social-link:hover {
  background-color: var(--first-color-dark);
}

/* suggested 100% but will likely use 70% */
.home__button {
  width: 70%;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighter);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-dark);
}

.button__light {
  background-color: var(--first-color-lighter);
  color: var(--first-color);
}

.button__light:hover {
  color: var(--first-color-lighter);
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-4);
}
.about__img {
  width: 150px;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.about__information {
  margin-bottom: var(--mb-4);
}

.about__information-title {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

/* padding-left suggested 1.5rem */
.about__information-data {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: var(--mb-3);
  justify-content: center;

  border: 1px dashed teal;
}

.about__information-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  /* margin-bottom: var(--mb-4); suggested but causes misalignment */

  padding-right: 2rem;

  border: 1px solid black;
}

.about__information-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
}

.about__information-subtitle-small {
  font-size: var(--small-font-size);
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
}
.skills__subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

.skills__data {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb-2);
  margin: var(--mb-4);
}

.skills__name {
  text-transform: uppercase;
}

.skills__bar {
  position: absolute;
  bottom: -0.75rem;
  height: 0.25rem;
  background-color: var(--first-color);
}

.skills__html {
  width: 80%;
}
.skills__js {
  width: 90%;
}

.skills__react {
  width: 70%;
}

.skills__angular {
  width: 60%;
}

.skills__php {
  width: 80%;
}

.skills__nodejs {
  width: 70%;
}

.skills__firebase {
  width: 90%;
}

.skills__python {
  width: 60%;
}

/* ===== EDUCATION =====*/
.education_container {
  row-gap: 2rem;
}

.education__content {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  margin-bottom: 2rem;
}

.education__year,
.education__race {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

.education__university,
.education__specialty {
  display: block;
  font-size: var(--smaller-font-size);
}

.education__year,
.education__university {
  text-align: right;
}

.education__time {
  padding: 0 1rem;
  justify-self: center;
}

.education__rounder {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.education__rounder::before {
  content: "";
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
}

.education__line {
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--first-color);
  transform: translate(5px, -4px);
}

/* ===== SERVICES =====*/
.services__container {
  row-gap: 2rem;
}

.services__content {
  padding: 1.5rem 0.5rem;
  border: 2px solid var(--first-color);
  border-radius: 0.5rem;
  text-align: center;
}

.services__icon {
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--first-color);
  color: var(--first-color-lighter);
  border-radius: 50%;
  margin-bottom: var(--mb-2);
}

.services__title {
  font-size: 1.25rem;
  color: var(--first-color-dark);
  margin-bottom: var(--mb-1);
}

.services__content,
.services__icon,
.services__description,
.services__title {
  transition: 0.5s;
}

.services__content:hover {
  background-color: var(--first-color);
}

.services__content:hover .services__icon {
  background-color: var(--first-color-lighter);
  color: var(--first-color);
}

.services__content:hover .services__description {
  color: var(--first-color-lighter);
}

/* ===== PROJECT IN MIND  =====*/
.resources {
  background-color: var(--first-color);
  padding-bottom: 2rem;
}

.resources__container {
  row-gap: 2rem;
}

.resources__data {
  text-align: center;
}

.resources__title,
.resources__description {
  color: var(--first-color-lighter);
}

.resources__description {
  margin-bottom: var(--mb-4);
}

/* Inserted to space mb */
.resources__button {
  margin-bottom: var(--mb-4);
}

/* suggested width: 220px; */
.resources__img {
  justify-self: center;
  border-radius: 0.5rem;
}

/* ===== LINKS =====*/
.links__container {
  justify-items: center;
  row-gap: 2rem;
}

.links__img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.links__data {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(212, 163, 115, 0.9);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.links__link {
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--first-color-lighter);
  color: var(--first-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-bottom: var(--mb-2);
}

.links__title {
  font-size: var(--h2-font-size);
  color: var(--first-color-lighter);
}

.links__img:hover .links__data {
  bottom: 0;
}

/* ===== CONTACT =====*/
.contact__container {
  row-gap: 3rem;
}

.contact__input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--first-color-light);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
  border-radius: 0.5rem;
}

.contact ::placeholder {
  color: var(--first-color-dark);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.contact__button {
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.contact__info {
  margin-bottom: var(--mb-3);
}

.contact__subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-1);
}

.contact__text {
  display: block;
  padding-left: 1rem;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--first-color-darker);
  color: var(--first-color-lighter);
  text-align: center;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.footer__description {
  margin-bottom: var(--mb-2);
}

.footer__social {
  margin-bottom: 3rem;
}

.footer__link {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighter);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.footer__link:hover {
  background-color: var(--first-color-lighter);
  color: var(--first-color);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
